/************ Fonts *************/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

/************ Variables *************/

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Css Custom Variables */

:root {
    --p-color: rgba(17, 24, 39, 1);
    --p-alt-color: rgb(104 111 183 / 48%);
    --s-color: rgba(167, 139, 250, 1);
    --text-color: rgba(243, 244, 246, 1);
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--text-color);
}

.alert {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: .840rem;
}

.alert-danger {
    background: linear-gradient(87deg, red, transparent);
    border: none !important;
    color: #fff !important;
}

.alert-success {
    background: linear-gradient(87deg, rgb(60, 255, 0), transparent);
    border: none !important;
    color: #fff !important;
}